
 <div class="likes">
	  <div class="fb-like" data-href="http://gotiti.com/greedyjump/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
	  <div id="tw-like" > <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> </div>
	  <div id="gplus"><g:plusone size="medium"></g:plusone></div>
	  <br/>
	  <div class="fb-comments" data-href="http://gotiti.com/greedyjump/" data-num-posts="2" data-width="530"></div>
 </div>
 
   <!-- Begin VideoJS -->
   <div id="video">
  <div class="video-js-box">
    <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
    <video id="example_video_1" class="video-js" width="320" height="480" controls="controls" poster="http://gotiti.com/greedyjump/videos/Movie5.png">
      <source src="http://gotiti.com/greedyjump/videos/Movie5.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />

      <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
      <object id="flash_fallback_1" class="vjs-flash-fallback" width="320" height="480" type="application/x-shockwave-flash"
        data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
        <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
        <param name="allowfullscreen" value="true" />
        <param name="flashvars" value='config={"playlist":["http://gotiti.com/greedyjump/videos/Movie5.png", {"url": "http://gotiti.com/greedyjump/videos/Movie5.mp4","autoPlay":true,"autoBuffering":true}]}' />
        <!-- Image Fallback. Typically the same as the poster image. -->
        <img src="http://gotiti.com/greedyjump/videos/Movie5.png" width="320" height="480" alt="Poster Image"
          title="No video playback capabilities." />
      </object>
    </video>
    <!-- Download links provided for devices that can't play video in the browser. -->
    <p class="vjs-no-video"><strong>Download Video:</strong>
      <a href="http://gotiti.com/greedyjump/videos/Movie5.mp4">MP4</a>,
    </p>
  </div>
  </div>
  <!-- End VideoJS -->

