
 <div class="likes">
	  <div class="fb-like" data-href="http://gotiti.com/greedyjump/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
	  <div id="tw-like" > <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> </div>
	  <div id="gplus"><g:plusone size="medium"></g:plusone></div>
	  <br/>
	  <div class="fb-comments" data-href="http://gotiti.com/greedyjump/" data-num-posts="2" data-width="530"></div>
 </div>
 
   <div id="video">
		
	  <!-- video bam -->
	  <iframe title="VideoBam video player" type="text/html" frameborder="0" scrolling="no" width="320" height="535" src="http://videobam.com/widget/PQhQW/1" allowFullScreen></iframe>
  </div>

