
<meta property="og:title" content="Greedy Jump iPhone Game" />
<meta property="og:type" content="game" />
<meta property="og:url" content="http://gotiti.com/greedyjump/" />
<meta property="og:image" content="http://www.gotiti.com/greedyjump/images/greedyjump.png" />
<meta property="og:site_name" content="Greedy Jump" />
<meta property="og:description" content="Awesome aim and jump game, with cool graphics and challenging game play." />
<meta property="fb:admins" content="100000903890493" />

<!-- Add the following three tags inside head -->
<meta itemprop="name" content="Greedy Jump iPhone Game">
<meta itemprop="description" content="Awesome aim and jump game, with cool graphics and challenging game play.">
<meta itemprop="image" content="http://gotiti.com/greedyjump/images/greedyjump.png">

<meta http-equiv="cache-control" content="no-cache">

<title> Greedy Jump - iPhone, iPad, iPod Touch Game - titi technologies</title>

<style>
	body {background-color:#8ea370;}

	.likes  {position:absolute;left:400px; top:520px;}
	  .fb-like{position:absolute;left:0px; top:0px;}
	  #tw-like{position:absolute;left:120px; top:0px;}
	  #gplus  {position:absolute;left:260px; top:0px;}
	  
	  .fb-comments{position:absolute;left:0px; top:10px; width:550px; 
	  			   height:465px; overflow:auto;}
	
	#video{position:absolute;left:10px; top:520px; height:480px; overflow:hidden;}
</style>

  <!-- Include the VideoJS Library -->
  <script src="/scripts/video.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript">
    VideoJS.setupAllWhenReady({
      controlsBelow: false, // Display control bar below video instead of in front of
      controlsHiding: true, // Hide controls when mouse is not over the video
      defaultVolume: 0.85, // Will be overridden by user's last volume if available
      flashVersion: 9, // Required flash version for fallback
      linksHiding: true // Hide download links when video is supported
    });
  </script>

  <!-- Include the VideoJS Stylesheet -->
  <link rel="stylesheet" href="/styles/video-js.css" type="text/css" media="screen" title="Video JS">

