
<meta property="og:title" content="Greedy Jump iPhone/iPad Game" />
<meta property="og:type" content="game" />
<meta property="og:url" content="http://gotiti.com/greedyjump/" />
<meta property="og:image" content="http://www.gotiti.com/greedyjump/images/greedyjump.png" />
<meta property="og:site_name" content="Greedy Jump" />
<meta property="og:description" content="Awesome aim and jump game, with cool graphics and challenging game play." />
<meta property="fb:admins" content="100000903890493" />

<!-- Add the following three tags inside head -->
<meta itemprop="name" content="Greedy Jump iPhone/iPad Game">
<meta itemprop="description" content="Awesome aim and jump game, with cool graphics and challenging game play.">
<meta itemprop="image" content="http://gotiti.com/greedyjump/images/greedyjump.png">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=utf8"/>

<title> Greedy Jump iPhone/iPad Game - titi technologies</title>

<style>

	body {background-color:#8ea370;}
	#innerbg{background-color:#bddbb3; width: 955px; height: 1695px; top:0px; left:50%; margin-left: -477px;}

	.likes  {position:absolute;left:472px; top:751px;}
	  .fb-like{position:absolute;left:35px; top:10px;}
	  #tw-like{position:absolute;left:120px; top:10px;width:85px;}
	  #gplus  {position:absolute;left:205px; top:10px;width:85px;}
	  #stumble{position:absolute;left:290px; top:10px;width:85px;}
	  #share{position:absolute;left:375px; top:10px;width:85px;}
	  
	  .fb-comments{position:absolute;left:0px; top:22px; width:480px; 
	  			   height:790px; overflow:auto;}
	
	#video{position:absolute;left:10px; top:520px; height:480px; overflow:hidden;}
	
	#hidden{
		position:absolute;
		visibility:hidden;
	}	
</style>

<script>
	function endsWith(str, suffix) {
		return str.indexOf(suffix, str.length - suffix.length) !== -1;
	}
	//alert(document.URL);
	if(endsWith(document.URL,'index.html') || endsWith(document.URL,'index.htm')){
		window.location = "/greedyjump/";
	}
</script>


<link rel="stylesheet" href="/styles/colorbox.css" />

<script type="text/javascript" src="/scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/scripts/jquery.zclip.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.button.js"></script>

<script>

	function initPage(){
		//make contact us workable in IE
		$('#MailUs').attr('name','MailUs');
		$('#Copy div div span a').zclip({
			path:'/scripts/ZeroClipboard.swf',
	        copy:function(){return 'co'+''+'nta'+'ctus'+"@"+"gotiti"+"."+'com';},
	        afterCopy:function(){ 
		        $('#Copy div div span a').zclip('remove');
	        	$('#Copy div div span').html('copied'); 
	        }
		});
		
	
		//alert('initpage1');
		if(touchScreen){
			$("<style type='text/css'> #cboxOverlay { width: 20000px !important; height: 20000px !important; } </style>").appendTo("head");
		}

		if(touchScreen){
			$('a.iphoness').colorbox({
				rel:'iphoness',
				left:'0px',
				top:'0px',
				current: '{current}/{total}',
				transition: 'none',
				speed:0
			});
			$('a.ipadss').colorbox({
				rel:'ipadss',
				left:'0px',
				top:'0px',
				current: '{current}/{total}',
				transition: 'none',
				speed:0
			});
		} else {
			$('a.iphoness').colorbox({
				rel:'iphoness',
				maxHeight: "99%",
				maxWidth: "99%",
				current: '{current}/{total}'
			});
			$('a.ipadss').colorbox({
				rel:'ipadss',
				maxHeight: "99%",
				maxWidth: "99%",
				current: '{current}/{total}'
			});
		}
	
		//alert('initpage3');
	

		makeButton("#iPhoneBuy",function(){
			window.open("http://itunes.apple.com/app/greedy-jump-massively-addictive/id486182796?ls=1&mt=8",'_blank');
		});
		makeButton("#iPhoneFree",function(){
			window.open("http://itunes.apple.com/app/greedy-jump-lite-massively/id487136577?ls=1&mt=8",'_blank');
		});
		makeButton("#iPhoneSS",function(){
			//$('a.iphoness:first').click();
			//$.colorbox({href:'popups/iPhoneScreens.html',iframe:true,width:'99%',height:'99%'});
			var w = $(window).width() * .9;
			var h = $(window).height() * .9;
			var imgH = h;
			var imgW = (h-20)/960.0*640;
			var html = '<div style="white-space:nowrap;">';
			html += '<img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/iPhoneSS1.jpg"/>';
			html += ' <img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/iPhoneSS2.jpg"/>';
			html += ' <img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/iPhoneSS3.jpg"/>';
			html += ' <img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/iPhoneSS4.jpg"/>';
			html += ' <img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/iPhoneSS5.jpg"/>';
			html += '</div>';
			//alert(html);
			$.colorbox({html:html,title:'iPhone Screenshots',innerWidth:w+'px',innerWeight:h+'px'});
			
		});
		makeButton("#iPhoneVideo",function(){
				$.colorbox({
					html:$('#div_iphone_video').attr('html'),
					title:'Greedy Jump - Massively Addictive'
				});
		});

		makeButton("#iPadBuy",function(){
			window.open("http://itunes.apple.com/app/greedy-jump-hd-massively-addictive/id487774918?ls=1&mt=8",'_blank');
		});
		//$('#iPadFree').css('opacity',0.2);
		makeButton("#iPadFree",function(){
			window.open("http://itunes.apple.com/app/greedy-jump-hd-lite-massively/id487848134?ls=1&mt=8",'_blank');
			//$.colorbox({html:'<h3>iPad Free Version Coming Soon</h3>'});
		});
		makeButton("#iPadSS",function(){
			//$('a.ipadss:first').click();
			var w = $(window).width() * .9;
			var h = $(window).height() * .9;
			var imgH = h;
			var imgW = (h-20)/1024.0*768;
			var html = '<div style="white-space:nowrap;">';
			html += '<img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/IpadSS1.jpg"/>';
			html += ' <img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/IpadSS2.jpg"/>';
			html += ' <img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/IpadSS3.jpg"/>';
			html += ' <img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/IpadSS4.jpg"/>';
			html += ' <img width="'+imgW+'px" height="'+imgH+'px" src="images/screenshots/IpadSS5.jpg"/>';
			html += '</div>';
			//alert(html);
			$.colorbox({html:html,title:'iPad Screenshots',innerWidth:w+'px',innerWeight:h+'px'});
		});
		//$('#iPadVideo').css('opacity',0.2);
		makeButton("#iPadVideo",function(){
				$.colorbox({
					html:$('#div_ipad_video').attr('html'),
					title:'Greedy Jump HD - Massively Addictive'
				});
		});
		
	}
</script>




















