
 <div id="hidden">
	<a class='iphoness' href='images/screenshots/iPhoneSS1.jpg' title="Treasure Mode"></a>
	<a class='iphoness' href='images/screenshots/iPhoneSS2.jpg' title="Fruits Mode"></a>
	<a class='iphoness' href='images/screenshots/iPhoneSS3.jpg' title="Zombies Mode"></a>
	<a class='iphoness' href='images/screenshots/iPhoneSS4.jpg' title="Shopping Mode"></a>
	<a class='iphoness' href='images/screenshots/iPhoneSS5.jpg' title="Underwater Mode"></a>

	<a class='ipadss' href='images/screenshots/IPadSS1.jpg' title="Treasure Mode"></a>
	<a class='ipadss' href='images/screenshots/IPadSS2.jpg' title="Fruits Mode"></a>
	<a class='ipadss' href='images/screenshots/IPadSS3.jpg' title="Zombies Mode"></a>
	<a class='ipadss' href='images/screenshots/IPadSS4.jpg' title="Shopping Mode"></a>
	<a class='ipadss' href='images/screenshots/IPadSS5.jpg' title="Underwater Mode"></a>
	
	<div id="div_iphone_video" html='<iframe title="VideoBam video player" type="text/html" frameborder="0" scrolling="no" width="320" height="480" src="http://videobam.com/widget/PQhQW/1" allowFullScreen></iframe>'></div>
	<div id="div_ipad_video" html='<h3>iPad Video Coming soon. Please watch iPhone video.</h3>'></div>
</div>

 <script type="text/javascript">
 	initPage();

 </script>

 <div class="likes">
	<div class="fb-like" data-href="http://gotiti.com/greedyjump/" data-send="false" data-layout="box_count" data-width="85" data-show-faces="false"></div>
	  <div id="tw-like" > <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> </div>
	  <div id="gplus"><g:plusone size="tall"></g:plusone></div>
 	<div id="stumble"><script src="http://www.stumbleupon.com/hostedbadge.php?s=5"></script></div>

	<!-- AddThis Button BEGIN -->
	<div id="share" class="addthis_toolbox addthis_default_style ">
	<a class="addthis_counter"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ee7b8c27a0b2dfb"></script>
	<!-- AddThis Button END -->


	  <div class="fb-comments" data-href="http://gotiti.com/greedyjump/" data-num-posts="5" data-width="460"></div>
 </div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=281359128542019";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

