---
layout: versionify
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<meta name="XAR jpegs" content="1"/>
<meta name="XAR pngs" content="9"/>
<script type="text/javascript" src="index_htm_files/roe.js"></script>
<link rel="stylesheet" type="text/css" href="index_htm_files/default.css" />

{% include greedyjump-head.html %}


</head>
<body style="">

{% include greedyjump-afterbody.html %}    
<!--  Delete clip in following line, copy height to greedyjump-head.html -->



<!--[if IE]><div class="xr_ap" id="xr_xr" style="width: 955px; height: 1695px; top:0px; left:50%; margin-left: -478px; clip: rect(0px 955px 1695px 0px);"><![endif]-->
<!--[if !IE]>--><div class="xr_ap" id="xr_xr" style="width: 955px; height: 1695px; top:0px; left:50%; margin-left: -478px; clip: rect(0px, 955px, 1695px, 0px);"><!--<![endif]-->
<script type="text/javascript">var xr_xr=document.getElementById("xr_xr")</script>
 <img class="xr_ap" src="index_htm_files/0.jpg" alt="" style="left: -2px; top: -3px; width: 962px; height: 1700px;"/>
 <img class="xr_ap" src="index_htm_files/0.png" alt="" style="left: 14px; top: 1671px; width: 928px; height: 1px;"/>
 <div style="left: 25px; position: absolute; font-size: 13px; font-family: Arial; text-align: left; color: #768870; top: 1687px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -13px;">&#169; 2011 TiTi Technologies Pty Ltd. All names are trademarks or registered trademarks of TiTi Technologies Ltd or their respective owners. All rights reserved.</div>
  </div>
 </div>
 <div id="Screen:32Shots" style="left: 37px; position: absolute; font-size: 14px; font-family: Comic Sans MS; text-align: left; top: 1062px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -16px;">Aim and Jump High Scoring Game</div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 10px;">With Cool Graphics &#38; Challenging Gameplay. </div>
  </div>
  <div style="">
  </div>
 </div>
 <div style="left: 248px; position: absolute; font-size: 14px; font-family: Comic Sans MS; text-align: left; top: 692px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -16px;">Once upon a time, there lived </div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 10px;">an Egg. He was very very </div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 35px;">greedy. He collected all the </div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 61px;">wealth in his land, but his </div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 86px;">greed was not satisfied. </div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 112px;">He prayed god to bless </div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 138px;">him with unlimited wealth. </div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 163px;">God granted his wish</div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 189px;">and took him to a wealthy </div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 214px;">island where the wealth</div>
  </div>
  <div style="">
   <div class="xr_tl" style="left: 0px; top: 240px;">&nbsp;never depletes.</div>
  </div>
  <div style="">
  </div>
 </div>
 <div style="left: 34px; position: absolute; font-size: 14px; font-family: Comic Sans MS; text-align: left; top: 1030px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -16px;"><span style=" font-weight: bold;">Game Play</span        >&nbsp;</div>
  </div>
 </div>
 <div style="left: 36px; position: absolute; font-size: 14px; font-family: Comic Sans MS; text-align: left; font-weight: bold; top: 1136px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -16px;">Powers </div>
  </div>
 </div>
 <div style="left: 76px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1181px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">You Are Free To Move</div>
  </div>
 </div>
 <div style="left: 74px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1277px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">No Worries To Climb Up </div>
  </div>
 </div>
 <div style="left: 73px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1230px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">I Like Angry Birds</div>
  </div>
 </div>
 <div style="left: 73px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1326px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Friendly Birds To Double Climb</div>
  </div>
 </div>
 <div style="left: 324px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1231px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">I Like Spider Man</div>
  </div>
 </div>
 <div style="left: 321px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1328px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">You Wont Fall</div>
  </div>
 </div>
 <div style="left: 321px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1180px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">The God Gives Hand</div>
  </div>
 </div>
 <div style="left: 321px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1278px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">The God Gives Wings</div>
  </div>
 </div>
 <div style="left: 32px; position: absolute; font-size: 14px; font-family: Comic Sans MS; text-align: left; font-weight: bold; top: 1393px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -16px;">Hurdle Nests </div>
  </div>
 </div>
 <div style="left: 35px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1459px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Normal</div>
  </div>
 </div>
 <div style="left: 123px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1456px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Speed</div>
  </div>
 </div>
 <div style="left: 207px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1456px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Bumper</div>
  </div>
 </div>
 <div style="left: 298px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1460px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Rotate</div>
  </div>
 </div>
 <div style="left: 413px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1460px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Boomb</div>
  </div>
 </div>
 <div style="left: 36px; position: absolute; font-size: 14px; font-family: Comic Sans MS; text-align: left; font-weight: bold; top: 1520px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -16px;">Modes of Play </div>
  </div>
 </div>
 <div style="left: 25px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1595px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Tressure</div>
  </div>
 </div>
 <div style="left: 113px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1595px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Fruits</div>
  </div>
 </div>
 <div style="left: 202px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1595px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Zombies</div>
  </div>
  <div style="">
  </div>
 </div>
 <div style="left: 378px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1595px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">UnderWater</div>
  </div>
 </div>
 <div style="left: 290px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; top: 1592px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;">Shopping</div>
  </div>
 </div>
 <div style="left: 25px; position: absolute; font-size: 13px; font-family: Arial; text-align: left; color: #768870; top: 1665px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -13px;">Credits: RVK Technical Director &#38; VRB Art Director</div>
  </div>
 </div>
 <div style="left: 818px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; color: #4C4C4C; top: 33px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;"><a onmousemove="xr_mo(this,0)" onclick="return(xr_nn());" href="http://groups.google.com/group/greedyjump?pli=1" >Forum</a></div>
  </div>
 </div>
 <img class="xr_ap" src="index_htm_files/1.png" alt="" id="iPhoneFree" style="left: 592px; top: 360px; width: 83px; height: 51px;"/>
 <img class="xr_ap" src="index_htm_files/2.png" alt="" id="iPhoneBuy" style="left: 609px; top: 457px; width: 83px; height: 51px;"/>
 <img class="xr_ap" src="index_htm_files/3.png" alt="" id="iPhoneVideo" style="left: 544px; top: 509px; width: 84px; height: 49px;"/>
 <img class="xr_ap" src="index_htm_files/4.png" alt="" id="iPhoneSS" style="left: 478px; top: 480px; width: 82px; height: 52px;"/>
 <img class="xr_ap" src="index_htm_files/5.png" alt="" id="iPadFree" style="left: 840px; top: 348px; width: 83px; height: 51px;"/>
 <img class="xr_ap" src="index_htm_files/6.png" alt="" id="iPadBuy" style="left: 846px; top: 432px; width: 83px; height: 51px;"/>
 <img class="xr_ap" src="index_htm_files/7.png" alt="" id="iPadVideo" style="left: 790px; top: 493px; width: 84px; height: 50px;"/>
 <img class="xr_ap" src="index_htm_files/8.png" alt="" id="iPadSS" style="left: 717px; top: 460px; width: 83px; height: 51px;"/>
 <div id="Copy" style="left: 889px; position: absolute; font-size: 13px; font-family: Arial; text-align: left; top: 1663px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -13px;">(<span style=""><a onmousemove="xr_mo(this,0)" onclick="return(xr_nn());" href="#" >Copy</a></span        >)</div>
  </div>
 </div>
 <div id="MailUS" style="left: 645px; position: absolute; font-size: 15px; font-family: Comic Sans MS; text-align: left; font-weight: bold; color: #333333; top: 1664px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -17px;">Mail Us</div>
  </div>
 </div>
 <div style="left: 882px; position: absolute; font-size: 13px; font-family: Comic Sans MS; text-align: left; color: #4C4C4C; top: 34px;">
  <div style="">
   <div class="xr_tl" style="left: 0px; top: -15px;"><a onmousemove="xr_mo(this,0)" onclick="return(xr_nn());" href="#MailUS" >Contact Us</a></div>
  </div>
 </div>
 <div id="xr_xo0" class="xr_ap" style="left: 0; top: 0; width: 955px; height: 100px; visibility: hidden;">
  <a href="" onclick="return(false);">
  </a>
 </div>
 
    {% include greedyjump-items.html %}

 <div id="xr_xd0"></div>
</div>
<!--[if lt IE 7]><script type="text/javascript" src="index_htm_files/png.js"></script><![endif]-->
<script type="text/javascript">xr_aeh()</script>
</body>
</html>